<%= render "layouts/navbar" %>
<div class="container">

  <h1>Check Out</h1> <br/>

  <% if session[:user_id].nil? %>
    <h4>Please register</h4>
    <%= render 'users/form', user: User.new %>
  <% else %>
    <%= render "form", purchase_order: @purchase_order %>
  <% end%>


  <br>

  <div>
    <%= link_to "Back to shopping cart", po_items_path %>
  </div>
</div>
