<%= render "layouts/navbar" %>
<div class="container">

  <h1>New purchase order</h1>

  <%= render "form", purchase_order: @purchase_order %>

  <br>

  <div>
<<<<<<< Updated upstream
    <%= link_to "Back to purchase orders", purchase_orders_path %>
=======
    <%= link_to "Back to shopping cart", po_items_path %>
>>>>>>> Stashed changes
  </div>
</div>
