<div class="container">
  <%= render "layouts/navbar" %>

  <h1>Editing visit event</h1>

  <%= render "form", visit_event: @visit_event %>

  <br>

  <div>
    <%= link_to "Show this visit event", @visit_event %> |
    <%= link_to "Back to visit events", visit_events_path %>
  </div>
</div>
