<h1>Editing item</h1>

<%= render "form", product_order: @product_order %>

<br>

<div>
  <%= link_to "Show this product_order", @product_order %> |
  <%= link_to "Back to product_order", product_order_path %>
</div>
